@import url('https://fonts.googleapis.com/css?family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}

#root {
  background-color: #000;
  display: grid;
  grid-area: 'tudo';
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  color: #fff;
}

h5 {
  font-family: "Montserrat", sans-serif;
}

p {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.app {
  align-self: center;
  margin: 0;
  text-align: center;
  background-color: #000;
}

#logged {
  align-self: auto;
}

.header {
  color: #fff;
  font-size: 4rem;
  font-family: "Slabo 27px", serif;
  font-weight: 700;
}

.header #part1 {
  color: #1ed760;
}

.subheader {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.user-img {
  margin: 0.5rem 0rem;
  border-radius: 100%;
}

a.link {
  text-decoration: none;
  color: #1ed760;
}

a.link:hover {
  color: #66B933;
  text-decoration: underline;
}

.user {
  margin: 1rem;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
}

.user p {
  font-size: 1rem;
}

img {
  height: 6rem;
  width: 6rem;
}

.user-infos {
  align-items: center;
  text-align: center;
}

.user-infos p {
  margin: 0.5rem 0rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.list {
  margin: 1rem 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#cartao {
  text-decoration: none;
  margin-bottom: 0.5rem;
  background-color: #000;
  display: grid;
  align-items: center;
  width: 100%;
  height: 5.5rem;
  grid-template-columns: 1fr 5fr;
}

#cartao h1 {
  grid-column: 1 / 2;
  text-align: center;
  color: #1ed760;
  font-weight: bold;
}

#cartao iframe {
  grid-column: 2 / 3;
  width: 100%;
  height: 100%;
}

#cartao:hover {
  background-color: #000;
}

.search {
  margin-top: 1rem;
  background-repeat: no-repeat;
  width: 90%;
  text-align: center;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif, FontAwesome;
  font-weight: bolder;
  padding: 0.5rem 0.1rem;
  border: none;
  background-color: #000;
  color: #fff;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
}

#dropdown-basic {
  width: 75%;
  margin-top: 0.5rem;
  background-color: #252021;
  border: #252021;
  font-weight: 600;
  justify-items: center;
}

#dropdown-basic:hover {
  background-color: #1C1C1C  ;
  border: #1C1C1C;
}

#dropdown_menu {
  width: 75%;
  text-align: center;
  background-color: #252021;
}

#dropdown_menu p {
  color: #fff;
  margin: 0;
}

#dropdown_menu p:hover {
  background-color: #000;
}

.create {
  width: 75%;
  margin-top: 0.5rem;
  background-color: #252021;
  border: #252021;
  font-weight: 600;
}

.create:hover {
  background-color: #1C1C1C  ;
  border: #1C1C1C;
}

li {
  color: white;
}

#logo1, #logo2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

#logo1 {
  color: #1ed760;
}

.message {
  margin-top: 1rem;
}

#mySidebar {
  background-color: #252021;
}

#mySidebar #closeButton{
  color: #1ed760;
  background-color: #252021;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
}

#mySidebar #logout{
  color: #fff;
  background-color: #252021;
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
}

#mySidebar #closeButton:hover {
  background-color: #000;
}

#mySidebar #logout:hover {
  text-decoration: none;
  background-color: #000;
}

#sidebarButton {
  background-color: transparent;
  border: #252021;
  color: #1ed760; 
  padding: 0.5rem 1rem;
  font-size: 1.75rem;
  position: absolute;
  top: 0;
  left: 0;
}

#sidebarButton:hover {
  background-color: #000;
  border: #1C1C1C;
  color: #fff; 
}

.header_sidebar {
  display: flex;
  justify-content: center;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

@media only screen and (min-width: 768px) {
  p {
    font-size: 1rem;
  }
  
  .header {
    font-size: 6rem;
  }

  .user {
    flex-direction: row;
  }

  .user-infos {
    text-align: left;
  }

  .user-infos p {
    margin-left: 1rem;
    font-size: 1.25rem;
  }

  #cartao {
    margin: 0;
    width: 30%;
    height: auto;
    grid-template-rows: 1fr 6fr;
    grid-template-columns: 100%;
  }

  #cartao h1 {
    font-size: 3rem;
    grid-row: 1 / 2;
  }

  #cartao iframe {
    height: 100%;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }

  .search {
    width: 30%;
    font-size: 1.25rem;
  }

  .search:hover {
    background-color: #252021;
  }

  .button_container {
    width: 100%;
  }

  #dropdown-basic {
    width: 25%;
  }

  #dropdown_menu {
    width: 25%;
  }

  .create {
    margin-top: 0.5rem;
    width: 25%;
  }
}
