html {
  background-color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Bungee", cursive;
  color: #FFF;
}

.app {
  margin: 0 auto;
  text-align: center;
  background-color: #000;
}

.header {
  color: #FFF;
  font-size: 60px;
  font-family: "Bungee", cursive;
}

.user-img{
  margin: 0.5rem 0rem;
  border-radius: 100%;
}

a.link {
  text-decoration: none;
  color: #1ED761;
}

a.link:hover {
  color: #66B933;
  text-decoration: none;
  border-bottom: 2px solid #66B933;
}

.user {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  font-size: 20px;
  font-family: "Bungee", cursive;
}

img {
  height: 6rem;
  width: 6rem;
}

.user-infos {
  align-items: center;
  text-align: left;
}

.user-infos p {
  margin: 0.5rem 0rem;
  margin-left: 1rem;
}

.list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cartao {
  background-color: #252021;
  margin: 1rem;
  display: grid;
  align-items: center;
  width: 40%;
  grid-template-columns: 1fr 5fr 1fr;
}

.cartao h1 {
  grid-column: 1 / 2;
  text-align: center;
  color: #1ED761;
}

.cartao .conteudo {
  grid-column: 2 / 3;
  justify-self: start;
}

.conteudo p {
  color: #FFF;
  margin: 0.5rem 0rem;
  margin-left: 1rem;
  text-align: left;
}

.cartao img {
  grid-column: 3 / 4;
  margin: 1rem 1rem;
  width: 6rem;
  height: auto;
}

.logout {
  font-size: 20px;
  font-family: "Bungee", cursive;
}

.cartao:hover {
  background-color: #000;
}